<p id="notice"><%= notice %></p>

<h1>Kidswardrobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kidswardrobs.each do |kidswardrob| %>
      <tr>
        <td><%= kidswardrob.title %></td>
        <td><%= kidswardrob.description %></td>
        <td><%= kidswardrob.price %></td>
        <td><%= link_to 'Show', kidswardrob %></td>
        <td><%= link_to 'Edit', edit_kidswardrob_path(kidswardrob) %></td>
        <td><%= link_to 'Destroy', kidswardrob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kidswardrob', new_kidswardrob_path %>
