<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @threeseatersofa.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @threeseatersofa.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @threeseatersofa.price %>
</p>

<%= link_to 'Edit', edit_threeseatersofa_path(@threeseatersofa) %> |
<%= link_to 'Back', threeseatersofas_path %>
