<p id="notice"><%= notice %></p>

<h1>Dressingts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dressingts.each do |dressingt| %>
      <tr>
        <td><%= dressingt.title %></td>
        <td><%= dressingt.description %></td>
        <td><%= dressingt.price %></td>
        <td><%= link_to 'Show', dressingt %></td>
        <td><%= link_to 'Edit', edit_dressingt_path(dressingt) %></td>
        <td><%= link_to 'Destroy', dressingt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dressingt', new_dressingt_path %>
