<p id="notice"><%= notice %></p>

<h1>Spotts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spotts.each do |spott| %>
      <tr>
        <td><%= spott.title %></td>
        <td><%= spott.description %></td>
        <td><%= spott.price %></td>
        <td><%= link_to 'Show', spott %></td>
        <td><%= link_to 'Edit', edit_spott_path(spott) %></td>
        <td><%= link_to 'Destroy', spott, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spott', new_spott_path %>
