<p id="notice"><%= notice %></p>

<h1>Oneseatersofas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oneseatersofas.each do |oneseatersofa| %>
      <tr>
        <td><%= oneseatersofa.title %></td>
        <td><%= oneseatersofa.description %></td>
        <td><%= oneseatersofa.price %></td>
        <td><%= link_to 'Show', oneseatersofa %></td>
        <td><%= link_to 'Edit', edit_oneseatersofa_path(oneseatersofa) %></td>
        <td><%= link_to 'Destroy', oneseatersofa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oneseatersofa', new_oneseatersofa_path %>
