<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @oneseatersofa.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @oneseatersofa.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @oneseatersofa.price %>
</p>

<%= link_to 'Edit', edit_oneseatersofa_path(@oneseatersofa) %> |
<%= link_to 'Back', oneseatersofas_path %>
