<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @woodensofaset.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @woodensofaset.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @woodensofaset.price %>
</p>

<%= link_to 'Edit', edit_woodensofaset_path(@woodensofaset) %> |
<%= link_to 'Back', woodensofasets_path %>
