<p id="notice"><%= notice %></p>

<h1>Lshapedcornersofas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lshapedcornersofas.each do |lshapedcornersofa| %>
      <tr>
        <td><%= lshapedcornersofa.title %></td>
        <td><%= lshapedcornersofa.description %></td>
        <td><%= lshapedcornersofa.price %></td>
        <td><%= link_to 'Show', lshapedcornersofa %></td>
        <td><%= link_to 'Edit', edit_lshapedcornersofa_path(lshapedcornersofa) %></td>
        <td><%= link_to 'Destroy', lshapedcornersofa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lshapedcornersofa', new_lshapedcornersofa_path %>
