<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lshapedcornersofa.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lshapedcornersofa.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lshapedcornersofa.price %>
</p>

<%= link_to 'Edit', edit_lshapedcornersofa_path(@lshapedcornersofa) %> |
<%= link_to 'Back', lshapedcornersofas_path %>
