<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kingsizeb.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kingsizeb.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @kingsizeb.price %>
</p>

<%= link_to 'Edit', edit_kingsizeb_path(@kingsizeb) %> |
<%= link_to 'Back', kingsizebs_path %>
