<p id="notice"><%= notice %></p>

<h1>Diningbenches</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diningbenches.each do |diningbench| %>
      <tr>
        <td><%= diningbench.title %></td>
        <td><%= diningbench.description %></td>
        <td><%= diningbench.price %></td>
        <td><%= link_to 'Show', diningbench %></td>
        <td><%= link_to 'Edit', edit_diningbench_path(diningbench) %></td>
        <td><%= link_to 'Destroy', diningbench, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diningbench', new_diningbench_path %>
