<p id="notice"><%= notice %></p>

<h1>Singlebs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @singlebs.each do |singleb| %>
      <tr>
        <td><%= singleb.title %></td>
        <td><%= singleb.description %></td>
        <td><%= singleb.price %></td>
        <td><%= link_to 'Show', singleb %></td>
        <td><%= link_to 'Edit', edit_singleb_path(singleb) %></td>
        <td><%= link_to 'Destroy', singleb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Singleb', new_singleb_path %>
