<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @twoseatersofa.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @twoseatersofa.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @twoseatersofa.price %>
</p>

<%= link_to 'Edit', edit_twoseatersofa_path(@twoseatersofa) %> |
<%= link_to 'Back', twoseatersofas_path %>
