<p id="notice"><%= notice %></p>

<h1>Queensizebs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queensizebs.each do |queensizeb| %>
      <tr>
        <td><%= queensizeb.title %></td>
        <td><%= queensizeb.description %></td>
        <td><%= queensizeb.price %></td>
        <td><%= link_to 'Show', queensizeb %></td>
        <td><%= link_to 'Edit', edit_queensizeb_path(queensizeb) %></td>
        <td><%= link_to 'Destroy', queensizeb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Queensizeb', new_queensizeb_path %>
