<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @queensizeb.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @queensizeb.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @queensizeb.price %>
</p>

<%= link_to 'Edit', edit_queensizeb_path(@queensizeb) %> |
<%= link_to 'Back', queensizebs_path %>
