<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hydraulicstorageb.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hydraulicstorageb.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hydraulicstorageb.price %>
</p>

<%= link_to 'Edit', edit_hydraulicstorageb_path(@hydraulicstorageb) %> |
<%= link_to 'Back', hydraulicstoragebs_path %>
