<p id="notice"><%= notice %></p>

<h1>Fabricsofasets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fabricsofasets.each do |fabricsofaset| %>
      <tr>
        <td><%= fabricsofaset.title %></td>
        <td><%= fabricsofaset.description %></td>
        <td><%= fabricsofaset.price %></td>
        <td><%= link_to 'Show', fabricsofaset %></td>
        <td><%= link_to 'Edit', edit_fabricsofaset_path(fabricsofaset) %></td>
        <td><%= link_to 'Destroy', fabricsofaset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fabricsofaset', new_fabricsofaset_path %>
